.img-carousel{
    height: 600px;
}

.carousel-caption{
    color: black;
    font-size: xx-large;
}

.carousel-indicators{
    color: black;
}

.footer-style{
    height: 200px;
}

.color-icono{
    color: blue;
}